{% if conf_node == 'pgpool1' %}
#!/bin/bash
export PATH=$PATH:/usr/bin/
export PCPPASSFILE=/data/pgpool/pcppass
pcp_attach_node -U pcpuser -h 192.168.131.172 -p 9898 -w -n 0
pcp_attach_node -U pcpuser -h 192.168.131.172 -p 9898 -w -n 1
pcp_attach_node -U pcpuser -h 192.168.131.172 -p 9898 -w -n 1
{% elif conf_node == 'pgpool2' %}
#!/bin/bash
export PATH=$PATH:/usr/bin/
export PCPPASSFILE=/data/pgpool/pcppass
pcp_attach_node -U pcpuser -h 192.168.131.107 -p 9898 -w -n 0
pcp_attach_node -U pcpuser -h 192.168.131.107 -p 9898 -w -n 1
pcp_attach_node -U pcpuser -h 192.168.131.107 -p 9898 -w -n 1
{% endif %}